* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --default-text: light-dark(black, white);
    --background: light-dark(#f8f8f8, rgb(20, 20, 20));
    --card: light-dark(white, rgb(52, 52, 52));
}

[data-theme="light"] {
    color-scheme: light;
}

[data-theme="dark"] {
    color-scheme: dark;
}

body {
    background-color: var(--background);
    margin: 0;
}

main {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

a {
    color: var(--default-text);
    text-decoration: none;
}

nav {
    height: fit-content;
}

.uutis-lista {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
}

.uutis-kortti {
    display: flex;
    flex-direction: column;
    background-color: var(--card);
    transition: box-shadow 0.2s;
    min-height: 100%;
}

.uutis-kortti:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.01), 0 2px 20px 0 rgba(0, 0, 0, 0.05);
}

.uutis-kuva {
    object-fit: cover; 
    aspect-ratio: 16/9;
    width: 495px;
}

.uutis-tiedot {
    padding: 10px 20px;
}

header {
    background-color: var(--card);
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 200px;
    align-items: center;
}

.theme-button {
    border: none;
    background: none;
}

.theme-button .dark- {
    filter: invert(0);
}
.theme-button .light {
    filter: invert(1);
}