{{ define "article.html" }}
<html lang="fi">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{.Article.Title}}</title>
	<script src="/static/theme.js"></script>
	<link rel="stylesheet" href="/static/styles.css">
</head>
<body>
	<header>
        <nav style="display: flex; gap: 20px;">
            <a href="/">
                Uutiset
            </a>
            {{ range .Categories}}
				<a href="/{{ .Name }}">{{ .Name }}</a>
			{{ end }}
            <a href="/">
                Sanajuuri
            </a>
        </nav>
        <nav id="theme-nav">
            <button id="theme-button" class="theme-button">mirri
            </button>
        </nav>
    </header>
	<main class="article-container" style="max-width: 800px;">
        <article>
            <img src="{{.Article.Picture}}" class="uutis-kuva">
            <div>
                <h2>
                    {{ .Article.Title }}
                </h2>
                <p>
                    {{ .Article.Description}}
                </p>
            </div>
            <p>
                {{ .Article.Content }}
            </p>
        </article>
	</main>
</body>
</html>
{{ end }}