* {
    font-family: sans-serif;
}

body {
    max-width: 500px;
    padding: 20px;
    margin: auto;
    background-color: #f8f8f8;
}

a {
    color: black;
    text-decoration: none;
}

.uutis-lista {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.uutis-kortti {
    display: flex;
    flex-direction: column;
    background-color: white;
    transition: 0.2s;
}

.uutis-kortti:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.01), 0 2px 20px 0 rgba(0, 0, 0, 0.05);
}

.uutis-kuva {
    object-fit: cover; 
}

.uutis-tiedot {
    padding: 10px 20px;
}