* {
    font-family: sans-serif;
}

:root {
    --default-text: light-dark(black, white);
    --background: light-dark(#f8f8f8, rgb(20, 20, 20));
    --card: light-dark(white, rgb(52, 52, 52));
}

[data-theme="light"] {
    color-scheme: light;
}

[data-theme="dark"] {
    color-scheme: dark;
}

body {
    max-width: 500px;
    padding: 20px;
    margin: auto;
    background-color: var(--background);
}

a {
    color: var(--default-text);
    text-decoration: none;
}

.uutis-lista {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.uutis-kortti {
    display: flex;
    flex-direction: column;
    background-color: var(--card);
    transition: 0.2s;
}

.uutis-kortti:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.01), 0 2px 20px 0 rgba(0, 0, 0, 0.05);
}

.uutis-kuva {
    object-fit: cover; 
}

.uutis-tiedot {
    padding: 10px 20px;
}